<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.5" targetFramework="net461" />
  <package id="JWT" version="3.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="NLog" version="4.5.11" targetFramework="net461" />
  <package id="NLogger.dll" version="1.0.4" targetFramework="net461" />
  <package id="Notify" version="2.3.0" targetFramework="net461" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net461" />
</packages>